In [1]:
import pandas as pd

/var/folders/hv/1_92kz110w572ncggsb_c81c0000gp/T/ipykernel_94954/2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was too old on your system - pyarrow 10.0.1 is the current minimum supported version as of this release.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
df = pd.read_csv("/Users/sebastiencaron/Desktop/Fixed-Income/Cours 6/Trace.csv")
df

,ASCII_RPTD_VOL_TX,ASOF_CD,CUSIP_ID_NUM,MSG_SEQ_NB,ORIG_MSG_SEQ_NB,RATING_1,RATING_2,RATING_3,RPTD_PR,TRC_ST,TRD_EXCTN_DT,TRD_EXCTN_TM,TTM,YLD_OWN,YLD_PT,YLD_SPREAD
0,1000000,1.0,476,25,NaN,7.0,11.0,7.0,124.637,2,20050607,64131,2246,4.71281648695188+0i,4.707016,0.958551
1,500000,NaN,476,8460,NaN,7.0,11.0,7.0,123.952,2,20050610,115219,2243,4.82176627739395+0i,4.813009,0.921381
2,500000,NaN,476,6281,NaN,7.0,11.0,7.0,123.949,2,20050613,115122,2240,4.81769643709309+0i,4.811974,0.885710
3,500000,NaN,476,21468,NaN,7.0,11.0,7.0,124.069,2,20050613,115614,2240,4.7977128283021+0i,4.792000,0.865736
4,2000000,NaN,476,3501,NaN,7.0,11.0,7.0,124.742,2,20050629,101112,2224,4.66083664729093+0i,4.649949,0.833454
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2667211,377000,NaN,527685,51940,NaN,32.0,NaN,32.0,100.500,2,20110426,164000,647,3.95135500085084+0i,3.949311,3.406768
2667212,377000,NaN,527685,51941,NaN,32.0,NaN,32.0,100.400,2,20110426,164000,647,4.01027209976625+0i,4.008628,3.466085
2667213,177000,NaN,527685,36667,NaN,32.0,NaN,32.0,100.550,2,20110428,151336,645,3.92092750963449+0i,3.917657,3.396129
2667214,100000,NaN,527685,37032,NaN,32.0,NaN,32.0,100.663,2,20110428,151500,645,3.85428616032275+0i,3.850355,3.328827
2667215,200000,NaN,527685,34094,NaN,32.0,NaN,32.0,100.663,2,20110429,151835,644,3.85368564663873+0i,3.849744,3.342467

In [7]:
tickers = list(df.columns)

In [8]:
import wrds

In [37]:
conn = wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [34]:

def finder_list(sorting : str, list_tosort : list) -> list :
    return [i for i in list_tosort if i.startswith(sorting)]



lib_available = conn.list_libraries()

finder_list("comp", lib_available)

['comp',
 'comp_execucomp',
 'comp_global',
 'comp_global_daily',
 'comp_na_annual_all',
 'comp_na_daily_all',
 'comp_na_monthly_all',
 'compa',
 'compg',
 'compm',
 'compsamp',
 'compsamp_all',
 'compsamp_snapshot']

In [44]:
finder_list("fun", conn.list_tables(library='comp'))

['funda', 'funda_fncd', 'fundq', 'fundq_fncd']

In [47]:
conn.get_table(library="comp", table="funda")

AttributeError: 'Connection' object has no attribute 'cursor'